* {
    font-family: 'Varta', sans-serif;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}
.pagina {
    position: relative;
    min-height: 100%;
}

header {

    .flexContainer {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
    }

    .flexContainer div {
        width: 33%;
        padding: 10px;
    }



    .searchBar {
        display: flex;
        justify-content: flex-end;
        max-height: 3em;
        align-items: center;
        margin-top: 5%;
    }


    .logo {
        max-height: 15em;
        width: auto;
        margin-left: 2%;
    }

    .navMenu li {
        display: inline-flex;
        list-style: none;
        justify-content: space-between;
        margin-right: 2%;
        align-items: center;
        top: 0;
        width: 100px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1em;
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
        margin-top: 15%;

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);

        }


        &:hover {
            background-color: rgb(236, 183, 183);
            border: 1px solid rgb(0, 0, 0);
        }

    }

}
p {
    font-size: 2em;
    text-align: center;
}
form {

    width: 50em;
    padding: 5em;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(149, 163, 128);
    

    label {
        width: 95%;
        font-weight: bold;

    }



    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 3px 10px;
        border: 1px solid #f6f6f6;
        border-radius: 3px;
        background-color: #f6f6f6;
        margin: 8px 0;
        display: inline-block;
    }

    select {
        display: flex;
        justify-content: flex-end;
    }

    input[type="submit"] {
        width: 100%;
        padding: 8px 16px;
        margin-top: 5em;
        border: 1px solid #000;
        border-radius: 5px;
        display: block;
        color: #fff;
        background-color: #000;
    }

    input[type="submit"]:hover {
        cursor: pointer;
    }

    textarea {
        width: 100%;
        height: 100px;
        border: 1px solid #f6f6f6;
        border-radius: 3px;
        background-color: #f6f6f6;
        margin: 8px 0;
        resize: none;
        display: block;
    }

}

