* {
    font-family: 'Varta', sans-serif;
}


header {

    .flexContainer {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
    }

    .flexContainer div {
        width: 33%;
        padding: 10px;
    }



    .searchBar {
        display: flex;
        justify-content: flex-end;
        max-height: 3em;
        align-items: center;
        margin-top: 5%;
    }


    .logo {
        max-height: 15em;
        width: auto;
        margin-left: 2%;
    }

    #mainMenu {
        display: flex;
        justify-content: space-between;
        margin-right: 2%;
        align-items: center;
        top: 0;

        .boton {
            width: 100px;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            border: 0px solid rgb(0, 0, 0);
            cursor: hand;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1em;

            &:hover {
                background-color: rgb(236, 183, 183);
                border: 2px solid rgb(0, 0, 0);
            }
        }
    }

}




footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 10%;
    width: 100%;
    button {
        background-color: white;
        border:0px;

    }

    .darkLightMode {
        display: flex;
        justify-content: flex-end;
        margin-right: 2%;
        

    }
}